body {
  font-family:"Playpen Sans Hebrew", cursive;
  background: #f0f9d4;
  padding: 2rem;

}
.container {
  max-width: 600px;
  margin: auto;
  background: #f0ffa8;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
textarea {
  width: 35rem;
  height: 120px;
  padding: 0.75rem;
  font-size: 1rem;
  margin-top: 1rem;
  background-color: #f5fcc7;
  border-radius: 8px;
  border: 1.5px solid #cddc39;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

button {
  all: unset;
  margin-top: 0.5rem;
  padding: 0.75rem 1.5rem;
  height: 4rem;
  width: 4rem;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  
}
button :hover {
  transform: scale(1.05);
}
button :active {
  transform: scale(0.95);
}
button img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
}
#imageGallery {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#imageGallery img {
  width: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.hidden { display: none; }
h1 {
  font-family: "Delius Swash Caps", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
   color: #2c3e50;
}
h2 {
  font-family:"Playpen Sans Hebrew", cursive;
  color: #2c3e50;
  font-weight: 350;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);

}

#questionSelect {
  width: 30rem;
  padding: 0.6rem 1.8rem 0.6rem 1rem;
  font-size: 1rem;
  border: 1.5px solid #cddc39;
  border-radius: 10px;
  background-color: #f5fcc7;  
  color: #2c3e50;
  appearance: none;           
  -webkit-appearance: none;   
  -moz-appearance: none;     
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="%23333"><path d="M2 4l4 4 4-4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;      
}
ul {
  padding-right: 2.5rem;
  padding-left: 1rem;
  margin-top: 0;
}
h4{
  margin-bottom: 0.5rem;
}
.clusterResult{
  width: 34rem;
  padding: 0.2rem 1rem 0.2rem;
  border: 2px solid #cddc39;
  border-style: dashed;

}